@page
@model RazerPagesMegaDesk.Pages.DeskQuotes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DeskQuote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*     <div class="form-group">
            <label asp-for="DeskQuote.DeskId" class="control-label"></label>
            <select asp-for="DeskQuote.DeskId" class ="form-control" asp-items="ViewBag.DeskId"></select>
        </div>*@
            <div class="form-group">
                <label asp-for="DeskQuote.CustomerName" class="control-label"></label>
                <input asp-for="DeskQuote.CustomerName" class="form-control" />
                <span asp-validation-for="DeskQuote.CustomerName" class="text-danger"></span>
            </div>
             <div class="form-group">
            <label asp-for="DeskQuote.ShippingId" class="control-label"></label>
            <select asp-for="DeskQuote.ShippingId" class="form-control" asp-items="ViewBag.ShippingId">
                <option value="">Choose</option>
            </select>
        </div>
            <div class="form-group">
                <label asp-for="Desk.Width" class="control-label"></label>
                <input asp-for="Desk.Width" class="form-control" required />
            </div>
            <div class="form-group">
                <label asp-for="Desk.Depth" class="control-label"></label>
                <input asp-for="Desk.Depth" class="form-control" required />
            </div>
            <div class="form-group">
                <label asp-for="Desk.NumberOfDrawers" class="control-label"></label>
                <input asp-for="Desk.NumberOfDrawers" type="number" min="1" max="7" class="form-control" required />
            </div>
            <div class="form-group">
                <label asp-for="Desk.SurfaceMaterialId" class="control-label"></label>
                <select asp-for="Desk.SurfaceMaterialId"
                        class="form-control"
                        asp-items="ViewBag.SurfaceMaterialId">
                    <option value="">Choose<</option>>
                </select>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
